fastapi
uvicorn[standard]
SQLAlchemy
psycopg2
python-dotenv
alembic
pydantic[email]
passlib[bcrypt]
elasticsearch
elasticsearchquerygenerator
openai
tiktoken
ollama
transformers
scikit-learn
openai
tiktoken
pandas
llama-index
llama-index-embeddings-ollama
llama-index-vector-stores-elasticsearch
llama_index.llms.ollama
llama-index-embeddings-voyageai
